<%= form_for db_query, html: { class: "query-form form" } do |f| %>
  <% if db_query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(db_query.errors.count, "error") %> prohibited this db_query from being saved:</h2>

      <ul>
      <% db_query.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :description, class: "form-control", placeholder: "Description" %>
  </div>

  <%= f.hidden_field :body %>
  <%= f.hidden_field :db_connection_id %>

  <div class="query-form__editor form-group">
    <div id="query-editor">
    </div>

    <div class="query-form__active-overlay">
      <div class="query-form__active-spinner">
      </div>
    </div>

    <div class="btn-group query-form__db-connection">
      <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <%= fa_icon "database" %>
        <span class="js-db-connection-selected">
          <%= "#{db_query.adapter}: #{db_query.database}" %>
        </span>
      </a>

      <ul class="dropdown-menu">
        <% Db::Connection.find_each do |db_connection| %>
          <li>
            <%= link_to "#", class: "js-db-connection-select", data: { connection_id: db_connection.id } do %>
              <%= "#{db_connection.adapter}: #{db_connection.database}" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <div class="query-form__error well">
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Run query", class: "btn btn-primary btn-sm js-run-query", data: { disable_with: false } %>

    <%= link_to "Hide", "#" , class: "query-form__hide-link js-close-query-form" %>
  </div>
<% end %>
