<p id="notice"><%= notice %></p>

<h1>Db Queries</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Db connection</th>
      <th>Fields</th>
      <th>Result</th>
      <th>Description</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @db_queries.each do |db_query| %>
      <tr>
        <td><%= db_query.body %></td>
        <td><%= db_query.db_connection %></td>
        <td><%= db_query.fields %></td>
        <td><%= db_query.result %></td>
        <td><%= db_query.description %></td>
        <td><%= db_query.duration %></td>
        <td><%= link_to 'Show', db_query %></td>
        <td><%= link_to 'Edit', edit_db_query_path(db_query) %></td>
        <td><%= link_to 'Destroy', db_query, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Db Query', new_db_query_path %>
