<%= form_for db_connection, html: { class: "form-horizontal", data: { default_ports: Db::Connection::DEFAULT_PORTS.to_json } } do |f| %>
  <fieldset>
    <legend><%= legend %></legend>

    <% if db_connection.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(db_connection.errors.count, "error") %> prohibited this db_connection from being saved:</h2>

        <ul>
        <% db_connection.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :adapter, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.select :adapter, Db::Connection::AVAILABLE_ADAPTERS, {}, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :database, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :database, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :user, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :user, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :host, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :host, class: "form-control", placeholder: "localhost" %>
      </div>
      <div class="col-sm-1">
        <%= f.text_field :port, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :timeout, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.number_field :timeout, class: "form-control", placeholder: 5000 %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-5 col-sm-offset-2">
        <%= f.submit class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </fieldset>
<% end %>
