<%= form_for(db_connection) do |f| %>
  <% if db_connection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(db_connection.errors.count, "error") %> prohibited this db_connection from being saved:</h2>

      <ul>
      <% db_connection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :adapter %>
    <%= f.text_field :adapter %>
  </div>

  <div class="field">
    <%= f.label :user %>
    <%= f.text_field :user %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="field">
    <%= f.label :host %>
    <%= f.text_field :host %>
  </div>

  <div class="field">
    <%= f.label :encoding %>
    <%= f.text_field :encoding %>
  </div>

  <div class="field">
    <%= f.label :timeout %>
    <%= f.number_field :timeout %>
  </div>

  <div class="field">
    <%= f.label :database %>
    <%= f.text_field :database %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
