<h4>
  Tables of <b><%= @db_connection.database %></b> database
</h4>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Schema</th>
      <th>Name</th>
      <th>Records</th>
      <th>Size, Mb</th>
    </tr>
  </thead>

  <tbody>
    <% @db_connection.schemas.each do |schema| %>
      <% schema.tables.each do |table| %>
        <tr>
          <td><%= schema.name %></td>
          <td>
            <%= table.name %>
            <% if table.is_view? %>
              <span class="label label-info">VIEW</span>
            <% end %>
          </td>
          <td><%= table.rows_count %></td>
          <td><%= table.size %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
