<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "SQL Bro", root_path, class: "navbar-brand" %>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <%= nav_li db_queries_path do %>
          Queries
        <% end %>

        <%= nav_li new_db_query_path do %>
          New Query
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <%= nav_li db_connections_path do %>
          <%= fa_icon "cog" %>
          Connections
        <% end %>
      </ul>

      <form class="header-search-form js-header-search-form navbar-form navbar-right" role="search">
        <div class="header-search-form__fields">
          <button class="header-search-form__submit" type="submit">
            <%= fa_icon "search", class: "header-search-form__search-icon js-header-search-form-search-icon" %>
            <%= fa_icon "spinner spin", class: "header-search-form__spinner js-header-search-form-spinner" %>
          </button>

          <%= react_component "QuerySearch" %>
        </div>
      </form>
    </div>
  </div>
</nav>

