<!DOCTYPE html>
<html>
  <head>
    <title>SqlBro</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "application" %>

    <%= stylesheet_link_tag "application", media: "all" %>

    <script type="text/javascript">
      var Routes = {
        query_path: function(queryId, format) {
          var path = "/db/queries/" + queryId;
          if(format) {
            path += "." + format;
          }

          return path;
        },
        new_query_path: function(queryId) {
          var path = "/db/queries/new";
          if(queryId) {
            path += "?query_id=" + queryId;
          }

          return path;
        },
        db_connection_tables: function(dbConnectionId) {
          return "/db/connections/" + dbConnectionId + "/tables"
        },
        db_connection_refresh_tables: function(dbConnectionId) {
          return "/db/connections/" + dbConnectionId + "/refresh_tables"
        }
      };
    </script>
  </head>

  <body>
    <%= render "layouts/header" %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
